* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primitive Colors */
  /* Mode 1 */
  /* font */
  --font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  /* color */
  --white: #ffffff;
  --blue-blue-10: #ecf3ff;
  --blue-blue-100: #99c0ff;
  --blue-blue-200: #80b1ff;
  --blue-blue-250: #66a1ff;
  --blue-blue-300: #3381ff;
  --blue-blue-400: #0062ff;
  --blue-blue-50: #cce0ff;
  --blue-blue-500: #0045b3;
  --blue-blue-600: #002766;
  --gray-gray-10: #f2f4f6;
  --gray-gray-100: #cdd1d9;
  --gray-gray-200: #9aa4b3;
  --gray-gray-300: #818da0;
  --gray-gray-400: #687385;
  --gray-gray-50: #d9dde3;
  --gray-gray-500: #596171;
  --gray-gray-600: #414552;
  --gray-gray-700: #30313d;
  --gray-gray-800: #21252c;
  --gray-gray-900: #1a1b25;
  --green-green-10: #effbf1;
  --green-green-100: #adeab9;
  --green-green-200: #8de19c;
  --green-green-300: #5ad472;
  --green-green-400: #3f9450;
  --green-green-50: #bdeec7;
  --green-green-500: #24552e;
  --green-green-600: #09150b;
  --purple-purple-10: #f7f9ff;
  --purple-purple-100: #eef2ff;
  --purple-purple-150: #ebedf9;
  --purple-purple-200: #d1d6fe;
  --purple-purple-250: #726ff2;
  --purple-purple-300: #5551ff;
  --purple-purple-400: #3b39b3;
  --purple-purple-50: #f3f5fb;
  --purple-purple-500: #232160;
  --purple-purple-600: #100f48;
  --red-red-10: #ffeded;
  --red-red-100: #ffb8b9;
  --red-red-200: #ff8284;
  --red-red-300: #ff4d4f;
  --red-red-400: #cc3e3f;
  --red-red-50: #ffcaca;
  --red-red-500: #802828;
  --red-red-600: #330f10;
  --yellow-yellow-10: #fff9e9;
  --yellow-yellow-100: #ffe197;
  --yellow-yellow-200: #ffd56c;
  --yellow-yellow-300: #ffc32d;
  --yellow-yellow-400: #cc9c23;
  --yellow-yellow-50: #ffedc0;
  --yellow-yellow-500: #806217;
  --yellow-yellow-600: #332709;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-xxxl: 48px;
  --Modal-Padding: 24px;

  /* Border */
  --border-xs: 0.5px;
  --border-sm: 1px;
  --border-md: 2px;
  --border-lg: 3px;
  --border-xl: 4px;
  --border-xxl: 5px;
  --border-xxxl: 6px;

  /* Modal */
  --Floating-corner-radius: 12px;
  --Floating-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  --BG-full-screen-gradient: linear-gradient(108deg, rgba(85, 81, 255, 0.10) 0.63%, rgba(238, 242, 254, 0.10) 50.32%, rgba(255, 202, 185, 0.10) 100%), #FFF;

  /* Shape */
  --rounded-xs: 0.5px;
  --rounded-sm: 1px;
  --rounded-md: 2px;
  --rounded-lg: 4px;
  --rounded-xl: 8px;
  --rounded-xxl: 12px;
  --rounded-xxxl: 24px;

  /* Typography */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 48px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Buttons */
  /* Mode 1 */
  /* color */
  --button-colors-stroke-clicked-filled: #ffffff00;
  --button-colors-stroke-clicked-secondary: var(--gray-gray-100);
  --button-colors-stroke-clicked-tertiary: #ffffff00;
  --button-colors-stroke-default-primary: #ffffff00;
  --button-colors-stroke-default-secondary: var(--gray-gray-100);
  --button-colors-stroke-default-tertiary: #ffffff00;
  --Button-Colors-Stroke-Default-Secondary: #CDD1D9;
  --button-colors-stroke-disabled-primary: #ffffff00;
  --button-colors-stroke-disabled-secondary: #ffffff00;
  --button-colors-stroke-disabled-tertiary: #ffffff00;
  --button-colors-stroke-focused-inner-primary: #ffffff00;
  --button-colors-stroke-focused-inner-secondary: var(--gray-gray-200);
  --button-colors-stroke-focused-inner-tertiary: #ffffff00;
  --button-colors-stroke-focused-outer-primary: var(--purple-purple-200);
  --button-colors-stroke-focused-outer-secondary: var(--purple-purple-200);
  --button-colors-stroke-focused-outer-tertiary: #ffffff00;
  --button-colors-stroke-hovered-primary: #ffffff00;
  --button-colors-stroke-hovered-secondary: var(--gray-gray-50);
  --button-colors-stroke-hovered-tertiary: #ffffff00;
  --button-colors-surface-clicked-primary: var(--purple-purple-500);
  --button-colors-surface-clicked-secondary: var(--gray-gray-10);
  --button-colors-surface-clicked-tertiary: var(--gray-gray-100);
  --button-colors-surface-default-primary: var(--purple-purple-300);
  --button-colors-surface-default-secondary: var(--white);
  --button-colors-surface-default-tertiary: #aaaaaa00;
  --Button-Colors-Surface-Default-Secondary: #FFF;
  --button-colors-surface-disabled-primary: var(--purple-purple-200);
  --button-colors-surface-disabled-secondary: var(--gray-gray-10);
  --button-colors-surface-disabled-tertiary: #eaeaeb00;
  --button-colors-surface-focused-primary: var(--purple-purple-300);
  --button-colors-surface-focused-secondary: var(--white);
  --button-colors-surface-focused-tertiary: #aaaaaa00;
  --button-colors-surface-hovered-primary: var(--purple-purple-250);
  --button-colors-surface-hovered-secondary: var(--white);
  --button-colors-surface-hovered-tertiary: #96969b00;
  --button-colors-text-or-icon-clicked-primary: var(--purple-purple-50);
  --button-colors-text-or-icon-clicked-secondary: var(--gray-gray-500);
  --button-colors-text-or-icon-clicked-tertiary: var(--gray-gray-500);
  --button-colors-text-or-icon-default-primary: var(--white);
  --button-colors-text-or-icon-default-secondary: var(--gray-gray-400);
  --button-colors-text-or-icon-default-tertiary: var(--gray-gray-400);
  --button-colors-text-or-icon-disabled-primary: var(--purple-purple-50);
  --button-colors-text-or-icon-disabled-secondary: var(--gray-gray-100);
  --button-colors-text-or-icon-disabled-tertiary: var(--gray-gray-200);
  --button-colors-text-or-icon-focused-primary: var(--purple-purple-50);
  --button-colors-text-or-icon-focused-secondary: var(--gray-gray-400);
  --button-colors-text-or-icon-focused-tertiary: var(--gray-gray-400);
  --button-colors-text-or-icon-hovered-primary: var(--purple-purple-50);
  --button-colors-text-or-icon-hovered-secondary: var(--gray-gray-300);
  --button-colors-text-or-icon-hovered-tertiary: var(--gray-gray-300);
  --button-shadow-clicked-large-fill: #00000026;
  --button-shadow-clicked-regular-fill: #00000020;
  --button-shadow-clicked-small-fill: #0000001a;
  --button-shadow-default-large-fill: #0000004d;
  --button-shadow-default-regular-fill: #00000040;
  --button-shadow-default-small-fill: #00000033;
  --button-shadow-focused-large-fill: #0000004d;
  --button-shadow-focused-regular-fill: #00000040;
  --button-shadow-focused-small-fill: #00000033;
  --button-shadow-hovered-large-fill: #0000004d;
  --button-shadow-hovered-regular-fill: #00000040;
  --button-shadow-hovered-small-fill: #00000033;
  /* number */
  --button-dimension-text-button: 0rem;
  --button-dimension-corner-radius-small: 0.5rem;
  --button-dimension-corner-radius-regular: 0.625rem;
  --button-dimension-corner-radius-large: 0.75rem;
  --Button-Dimension-Corner-radius-small: 8px;
  --button-dimension-height-small: 2rem;
  --button-dimension-height-regular: 2.5rem;
  --button-dimension-height-large: 3rem;
  --button-dimension-padding-icon-small: 0.375rem;
  --button-dimension-padding-icon-regular: 0.5rem;
  --button-dimension-padding-icon-large: 0.75rem;
  --button-dimension-padding-no-icon-small: 0.75rem;
  --button-dimension-padding-no-icon-regular: 1rem;
  --button-dimension-padding-no-icon-large: 1.5rem;
  --button-dimension-padding-text-small: 0.75rem;
  --button-dimension-padding-text-regular: 1rem;
  --button-dimension-padding-text-large: 1.5rem;
  --button-dimension-spacing-small: 0.25rem;
  --button-dimension-spacing-regular: 0.375rem;
  --button-dimension-spacing-large: 0.5rem;
  --button-dimension-stroke-small: 0.0781rem;
  --button-dimension-stroke-regular: 0.0938rem;
  --button-dimension-stroke-large: 0.125rem;
  --Button-Dimension-Stroke-Small: 1.25px;
  --button-dimension-stroke-outer-small: 0.1875rem;
  --button-dimension-stroke-outer-regular: 0.2188rem;
  --button-dimension-stroke-outer-large: 0.25rem;
  --button-shadow-clicked-large-y: -0.1875rem;
  --button-shadow-clicked-large-x: 0rem;
  --button-shadow-clicked-large-blur: 0.5rem;
  --button-shadow-clicked-regular-y: -0.125rem;
  --button-shadow-clicked-regular-x: 0rem;
  --button-shadow-clicked-regular-blur: 0.3125rem;
  --button-shadow-clicked-small-y: -0.0625rem;
  --button-shadow-clicked-small-x: 0rem;
  --button-shadow-clicked-small-blur: 0.25rem;
  --button-shadow-default-large-x: 0rem;
  --button-shadow-default-large-y: 0.0938rem;
  --button-shadow-default-large-blur: 0.25rem;
  --button-shadow-default-regular-x: 0rem;
  --button-shadow-default-regular-y: 0.0625rem;
  --button-shadow-default-regular-blur: 0.1562rem;
  --button-shadow-default-small-x: 0rem;
  --button-shadow-default-small-y: 0.0312rem;
  --button-shadow-default-small-blur: 0.125rem;
  --Button-Shadow-Default-Small-X: 0;
  --Button-Shadow-Default-Small-Y: 0.5px;
  --Button-Shadow-Default-Small-Blur: 2px;
  --button-shadow-focused-large-x: 0rem;
  --button-shadow-focused-large-y: 0.125rem;
  --button-shadow-focused-large-blur: 0.375rem;
  --button-shadow-focused-regular-x: 0rem;
  --button-shadow-focused-regular-y: 0.0938rem;
  --button-shadow-focused-regular-blur: 0.2812rem;
  --button-shadow-focused-small-x: 0rem;
  --button-shadow-focused-small-y: 0.0469rem;
  --button-shadow-focused-small-blur: 0.1875rem;
  --button-shadow-hovered-large-x: 0rem;
  --button-shadow-hovered-large-y: 0.1875rem;
  --button-shadow-hovered-large-blur: 0.5rem;
  --button-shadow-hovered-regular-x: 0rem;
  --button-shadow-hovered-regular-y: 0.125rem;
  --button-shadow-hovered-regular-blur: 0.3125rem;
  --button-shadow-hovered-small-x: 0rem;
  --button-shadow-hovered-small-y: 0.0625rem;
  --button-shadow-hovered-small-blur: 0.25rem;

  /* General Text Colors */
  --general-general-description: var(--gray-gray-400);
  --general-general-label: var(--gray-gray-400);
  --general-hidden-text: var(--gray-gray-100);
  --general-item-description: var(--gray-gray-500);
  --general-item-subtitle: var(--gray-gray-600);
  --general-low-description: var(--gray-gray-200);
  --general-page-title: var(--gray-gray-900);
  --general-section-subtitle: var(--gray-gray-700);
  --general-section-title: var(--gray-gray-800);
  --tab-tab-title-active: var(--purple-purple-300);
  --tab-tab-title-inactive: var(--gray-gray-500);
  --tab-tab-title-inactive-hovered: var(--gray-gray-300);

  /* Input Fields */
  --input-field-color-helper-disabled: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-disabled-white: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-error: var(--red-red-300);
  --input-field-color-helper-error-hovered: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-error-hovered-white: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-error-white: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-filled-hovered-white: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-focused: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-focused-white: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-general-helper: var(--gray-gray-200);
  --input-field-color-helper-typed: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-typed-hovered: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-typed-white: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-typing: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-typing-white: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-unfilled: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-unfilled-hovered: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-unfilled-hovered-white: var(--input-field-color-helper-general-helper);
  --input-field-color-helper-unfilled-white: var(--input-field-color-helper-general-helper);
  --input-field-color-icon-or-text-disabled: var(--input-search-color-disabled-text);
  --input-field-color-icon-or-text-disabled-white: #ffffff;
  --input-field-color-icon-or-text-error: var(--input-search-color-no-result-text);
  --input-field-color-icon-or-text-error-hovered: var(--input-field-color-icon-or-text-typed-hovered);
  --input-field-color-icon-or-text-error-hovered-white: #ffffff;
  --input-field-color-icon-or-text-error-white: #ffffff;
  --input-field-color-icon-or-text-filled-hovered-white: #ffffff;
  --input-field-color-icon-or-text-focused: var(--input-search-color-focused---typed-text);
  --input-field-color-icon-or-text-focused-white: #ffffff;
  --input-field-color-icon-or-text-typed: var(--input-search-color-inactive---typed-text);
  --input-field-color-icon-or-text-typed-hovered: var(--input-search-color-hovered-text);
  --input-field-color-icon-or-text-typed-white: #ffffff;
  --input-field-color-icon-or-text-typing: var(--input-search-color-active-text);
  --input-field-color-icon-or-text-typing-white: #ffffff;
  --input-field-color-icon-or-text-unfilled: var(--input-search-color-default-text);
  --input-field-color-icon-or-text-unfilled-hovered: var(--input-search-color-hovered-text);
  --input-field-color-icon-or-text-unfilled-hovered-white: #ffffff;
  --input-field-color-icon-or-text-unfilled-white: #ffffff;
  --input-field-color-label-disabled: var(--input-field-color-label-general-label);
  --input-field-color-label-disabled-white: var(--input-field-color-label-general-label);
  --input-field-color-label-error: var(--input-field-color-label-general-label);
  --input-field-color-label-error-hovered: var(--input-field-color-label-general-label);
  --input-field-color-label-error-hovered-white: var(--input-field-color-label-general-label);
  --input-field-color-label-error-white: var(--input-field-color-label-general-label);
  --input-field-color-label-filled-hovered-white: var(--input-field-color-label-general-label);
  --input-field-color-label-focused: var(--input-field-color-label-general-label);
  --input-field-color-label-focused-white: var(--input-field-color-label-general-label);
  --input-field-color-label-general-label: var(--gray-gray-400);
  --input-field-color-label-typed: var(--input-field-color-label-general-label);
  --input-field-color-label-typed-hovered: var(--input-field-color-label-general-label);
  --input-field-color-label-typed-white: var(--input-field-color-label-general-label);
  --input-field-color-label-typing: var(--input-field-color-label-general-label);
  --input-field-color-label-typing-white: var(--input-field-color-label-general-label);
  --input-field-color-label-unfilled: var(--input-field-color-label-general-label);
  --input-field-color-label-unfilled-hovered: var(--input-field-color-label-general-label);
  --input-field-color-label-unfilled-hovered-white: var(--input-field-color-label-general-label);
  --input-field-color-label-unfilled-white: var(--input-field-color-label-general-label);
  --input-field-color-outer-stroke-focused: var(--input-search-color-focused---empty-stroke-outer);
  --input-field-color-outer-stroke-focused-typed: var(--input-search-color-focused---typed-stroke-outer);
  --input-field-color-outer-stroke-focused-white: #ffffff;
  --input-field-color-outer-stroke-focused-white-typed: #ffffff;
  --input-field-color-stroke-disabled: var(--input-search-color-disabled-stroke);
  --input-field-color-stroke-disabled-white: #ffffff;
  --input-field-color-stroke-error: var(--input-search-color-no-result-stroke);
  --input-field-color-stroke-error-hovered: var(--red-red-200);
  --input-field-color-stroke-error-hovered-white: #ffffff;
  --input-field-color-stroke-error-white: #ffffff;
  --input-field-color-stroke-filled-hovered-white: #ffffff;
  --input-field-color-stroke-filled-white: #ffffff;
  --input-field-color-stroke-focused: var(--input-search-color-focused---typed-stroke-inner);
  --input-field-color-stroke-focused-white: #ffffff;
  --input-field-color-stroke-typed: var(--input-search-color-inactive---typed-stroke);
  --input-field-color-stroke-typed-hovered: var(--input-search-color-focused---typed-stroke-inner);
  --input-field-color-stroke-typed-white: #ffffff;
  --input-field-color-stroke-typing: var(--input-search-color-typing-stroke);
  --input-field-color-stroke-unfilled: var(--input-search-color-default-stroke);
  --input-field-color-stroke-unfilled-hovered: var(--dropdown-button-colors-stroke-hovered-unfilled);
  --input-field-color-stroke-unfilled-hovered-white: #ffffff;
  --input-field-color-stroke-unfilled-white: #ffffff;
  --input-field-color-surface-disabled: var(--input-search-color-disabled-surface);
  --input-field-color-surface-disabled-white: #ffffff;
  --input-field-color-surface-error: var(--input-search-color-no-result-surface);
  --input-field-color-surface-error-hovered: var(--red-red-10);
  --input-field-color-surface-error-hovered-white: #ffffff;
  --input-field-color-surface-error-white: #ffffff;
  --input-field-color-surface-focused: var(--input-search-color-focused---typed-surface);
  --input-field-color-surface-focused-white: #ffffff;
  --input-field-color-surface-typed: var(--input-search-color-inactive---typed-surface);
  --input-field-color-surface-typed-hovered: var(--input-search-color-hovered-surface);
  --input-field-color-surface-typed-hovered-white: #ffffff;
  --input-field-color-surface-typed-white: #ffffff;
  --input-field-color-surface-typing: var(--input-search-color-typing-surface);
  --input-field-color-surface-typing-white: #ffffff;
  --input-field-color-surface-unfilled: var(--input-search-color-default-surface);
  --input-field-color-surface-unfilled-hovered: var(--input-search-color-hovered-surface);
  --input-field-color-surface-unfilled-hovered-white: #ffffff;
  --input-field-color-surface-unfilled-white: #ffffff;
  /* number */
  --input-field-dimension-stroke: var(--input-search-dimension-stroke);
  --input-field-dimension-stroke-outer: var(--button-dimension-stroke-outer-regular);
  --input-field-dimension-padding-icon: var(--input-search-dimension-padding-icon);
  --input-field-dimension-corner-radius: var(--input-search-dimension-corner-radius);
  --input-field-dimension-padding-no-icon: var(--input-search-dimension-padding-no-icon);
  --input-field-dimension-height: var(--input-search-dimension-height);

  /* Input Search */
  --input-search-color-active-icon-left: var(--dropdown-button-colors-text-opened);
  --input-search-color-active-icon-right: var(--dropdown-button-colors-text-opened);
  --input-search-color-active-stroke: var(--dropdown-button-colors-stroke-opened);
  --input-search-color-active-surface: var(--dropdown-button-colors-surface-opened);
  --input-search-color-active-text: var(--dropdown-button-colors-text-default);
  --input-search-color-default-icon-left: var(--dropdown-button-colors-text-unfilled);
  --input-search-color-default-icon-right: var(--dropdown-button-colors-text-unfilled);
  --input-search-color-default-stroke: var(--dropdown-button-colors-stroke-unfilled);
  --input-search-color-default-surface: var(--dropdown-button-colors-surface-default);
  --input-search-color-default-text: var(--dropdown-button-colors-text-unfilled);
  --input-search-color-disabled-icon-left: var(--dropdown-button-colors-text-disabled);
  --input-search-color-disabled-icon-right: var(--dropdown-button-colors-text-disabled);
  --input-search-color-disabled-stroke: var(--dropdown-button-colors-stroke-unfilled);
  --input-search-color-disabled-surface: var(--dropdown-button-colors-surface-disabled);
  --input-search-color-disabled-text: var(--dropdown-button-colors-text-disabled);
  --input-search-color-focused---empty-icon-left: var(--dropdown-button-colors-text-default);
  --input-search-color-focused---empty-icon-right: var(--dropdown-button-colors-text-default);
  --input-search-color-focused---empty-stroke-inner: var(--dropdown-button-colors-stroke-default);
  --input-search-color-focused---empty-stroke-outer: var(--button-colors-stroke-focused-outer-secondary);
  --input-search-color-focused---empty-surface: var(--dropdown-button-colors-surface-default);
  --input-search-color-focused---empty-text: var(--gray-gray-200);
  --input-search-color-focused---typed-icon-left: var(--dropdown-button-colors-text-default);
  --input-search-color-focused---typed-icon-right: var(--dropdown-button-colors-text-default);
  --input-search-color-focused---typed-stroke-inner: var(--dropdown-button-colors-stroke-default);
  --input-search-color-focused---typed-stroke-outer: var(--button-colors-stroke-focused-outer-secondary);
  --input-search-color-focused---typed-surface: var(--dropdown-button-colors-surface-default);
  --input-search-color-focused---typed-text: var(--gray-gray-600);
  --input-search-color-hovered-icon-left: var(--dropdown-button-colors-text-hovered);
  --input-search-color-hovered-icon-right: var(--dropdown-button-colors-text-hovered);
  --input-search-color-hovered-stroke: var(--dropdown-button-colors-stroke-hovered);
  --input-search-color-hovered-surface: var(--dropdown-button-colors-surface-hovered);
  --input-search-color-hovered-text: var(--dropdown-button-colors-text-hovered);
  --input-search-color-inactive---typed-icon-left: var(--dropdown-button-colors-text-default);
  --input-search-color-inactive---typed-icon-right: var(--dropdown-button-colors-text-default);
  --input-search-color-inactive---typed-stroke: var(--dropdown-button-colors-stroke-default);
  --input-search-color-inactive---typed-surface: var(--dropdown-button-colors-surface-default);
  --input-search-color-inactive---typed-text: var(--input-search-color-typing-text);
  --input-search-color-no-result-icon-left: var(--dropdown-button-colors-text-default);
  --input-search-color-no-result-icon-right: var(--red-red-300);
  --input-search-color-no-result-stroke: var(--red-red-300);
  --input-search-color-no-result-surface: var(--red-red-10);
  --input-search-color-no-result-text: var(--input-search-color-inactive---typed-text);
  --input-search-color-typing-icon-left: var(--dropdown-button-colors-text-unfilled);
  --input-search-color-typing-icon-right: var(--dropdown-button-colors-text-unfilled);
  --input-search-color-typing-stroke: var(--dropdown-button-colors-stroke-opened);
  --input-search-color-typing-surface: var(--dropdown-button-colors-surface-unfilled);
  --input-search-color-typing-text: var(--gray-gray-600);
  /* number */
  --input-search-dimension-stroke: var(--button-dimension-stroke-regular);
  --input-search-dimension-stroke-outer: var(--dropdown-button-dimension-outer-stroke-regular);
  --input-search-dimension-spacing: var(--button-dimension-spacing-regular);
  --input-search-dimension-padding-icon: var(--button-dimension-padding-icon-regular);
  --input-search-dimension-corner-radius: var(--button-dimension-corner-radius-regular);
  --input-search-dimension-padding-no-icon: var(--button-dimension-padding-text-regular);
  --input-search-dimension-height: var(--button-dimension-height-regular);

  /* Dropdown Button */
  --dropdown-button-colors-label: var(--input-field-color-label-unfilled);
  --dropdown-button-colors-purple-label: var(--input-field-color-label-unfilled);
  --dropdown-button-colors-purple-outer-stroke-focused: var(--button-colors-stroke-focused-outer-primary);
  --dropdown-button-colors-purple-stroke-default: var(--button-colors-stroke-default-primary);
  --dropdown-button-colors-purple-stroke-disabled: var(--button-colors-stroke-disabled-primary);
  --dropdown-button-colors-purple-stroke-focused: var(--button-colors-stroke-focused-inner-primary);
  --dropdown-button-colors-purple-stroke-hovered: var(--button-colors-stroke-hovered-primary);
  --dropdown-button-colors-purple-stroke-hovered-unfilled: var(--button-colors-stroke-hovered-primary);
  --dropdown-button-colors-purple-stroke-opened: var(--purple-purple-400);
  --dropdown-button-colors-purple-stroke-unfilled: var(--button-colors-stroke-default-primary);
  --dropdown-button-colors-purple-surface-default: var(--button-colors-surface-default-primary);
  --dropdown-button-colors-purple-surface-disabled: var(--button-colors-surface-disabled-primary);
  --dropdown-button-colors-purple-surface-focused: var(--button-colors-surface-focused-primary);
  --dropdown-button-colors-purple-surface-hovered: var(--button-colors-surface-hovered-primary);
  --dropdown-button-colors-purple-surface-hovered-unfilled: var(--button-colors-surface-hovered-primary);
  --dropdown-button-colors-purple-surface-opened: var(--button-colors-surface-default-primary);
  --dropdown-button-colors-purple-surface-unfilled: var(--button-colors-surface-default-primary);
  --dropdown-button-colors-purple-text-default: var(--button-colors-text-or-icon-default-primary);
  --dropdown-button-colors-purple-text-disabled: var(--button-colors-text-or-icon-disabled-primary);
  --dropdown-button-colors-purple-text-focused: var(--button-colors-text-or-icon-focused-primary);
  --dropdown-button-colors-purple-text-hovered: var(--button-colors-text-or-icon-hovered-primary);
  --dropdown-button-colors-purple-text-opened: var(--button-colors-text-or-icon-default-primary);
  --dropdown-button-colors-purple-text-unfilled: var(--gray-gray-100);
  --dropdown-button-colors-outer-stroke-focused: var(--button-colors-stroke-focused-outer-secondary);
  --dropdown-button-colors-stroke-default: var(--button-colors-stroke-default-secondary);
  --dropdown-button-colors-stroke-disabled: var(--button-colors-stroke-disabled-secondary);
  --dropdown-button-colors-stroke-focused: var(--button-colors-stroke-focused-inner-secondary);
  --dropdown-button-colors-stroke-hovered: var(--button-colors-stroke-hovered-secondary);
  --dropdown-button-colors-stroke-hovered-unfilled: var(--button-colors-stroke-hovered-secondary);
  --dropdown-button-colors-stroke-opened: var(--button-colors-surface-focused-primary);
  --dropdown-button-colors-stroke-unfilled: var(--button-colors-stroke-default-secondary);
  --dropdown-button-colors-surface-default: var(--button-colors-surface-default-secondary);
  --dropdown-button-colors-surface-disabled: var(--button-colors-surface-disabled-secondary);
  --dropdown-button-colors-surface-focused: var(--button-colors-surface-focused-secondary);
  --dropdown-button-colors-surface-hovered: var(--button-colors-surface-hovered-secondary);
  --dropdown-button-colors-surface-opened: var(--button-colors-surface-default-secondary);
  --dropdown-button-colors-surface-unfilled: var(--button-colors-surface-default-secondary);
  --dropdown-button-colors-text-default: var(--button-colors-text-or-icon-default-secondary);
  --dropdown-button-colors-text-disabled: var(--button-colors-text-or-icon-disabled-secondary);
  --dropdown-button-colors-text-focused: var(--button-colors-text-or-icon-focused-secondary);
  --dropdown-button-colors-text-hovered: var(--button-colors-text-or-icon-hovered-secondary);
  --dropdown-button-colors-text-opened: var(--button-colors-text-or-icon-default-secondary);
  --dropdown-button-colors-text-unfilled: var(--gray-gray-200);
}

:root {
  font-family: var(--font-family-default);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);

  color-scheme: light;
  color: var(--general-page-title);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

